{% extends "layout/landing.tera" %}

{% block sidebar %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Congue quisque egestas diam in arcu cursus euismod. Vulputate enim nulla aliquet porttitor lacus luctus. Lacus viverra vitae congue eu consequat ac felis donec. Eu sem integer vitae justo eget magna fermentum. Mi bibendum neque egestas congue quisque egestas diam in. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Vel risus commodo viverra maecenas. Ac turpis egestas sed tempus. Id eu nisl nunc mi ipsum. Sem fringilla ut morbi tincidunt augue interdum velit. Dictum at tempor commodo ullamcorper a lacus.
{% endblock sidebar %}
