{% extends "layout/page.tera" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-4 order-sm-1">
    {% block sidebar %}
    {% endblock sidebar %}
  </div>
  <div class="col-12 col-md-8">
    <h3>The World of Sæmyyr</h3>
    <img src="/public/landing.jpg" width="100%" alt="The World of Sæmyyr"/>
  </div>
</div>
{% endblock content %}
